body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: white;
}

#bg {
  position: fixed;
  background-image: url("images/bg.png");
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  position: absolute;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2vh 0 0 0;
}

.center-text {
  text-align: center;
}

#gh-link {
  background: rgba(255,255,255,.9);
  border-radius: 3px;
}

#gh-link:hover {
  background: white;
}

#intro {
  font-size: 1.25em;
  margin: 20vh 0 40vh 4vw;
}

#intro h4{
  margin: 0 0 0 2vw;
}

#skills {
  margin: 0 0 20vh 0;
}

#contact {
  margin: 0 0 20vh 0;
}

.floater:hover {
  margin-top: -10px;
  transition: all 200ms ease;
}

.project {
  background: rgba(51,51,51,.9);
  padding: 1vh 2vw 1vh 2vw;
  margin: 5vh 4vh;
  border-radius: 20px;
  border: 1px solid white;
  transition: all .3s linear;
  display: block;
}

.project a {
  background: rgba(255,255,255,.9);
  border-radius: 3px;
}

.project a:hover {
  background: white;
}

.project ul li {
  margin: 5px;
}

.basic-info {
  width:40%;
}

.description-text {
  align-self: center;
  padding: 0% 0% 0% 5%;
  width: 55%;
}

.gone {
  display: none;
}

.hidden {
  opacity: 0;
}
